@charset "UTF-8";

.wrap{padding-top:50px;width:100%;}
.vcardWrap{margin:0 auto;width:600px;overflow:hidden;}
.vcardWrap .topSec{padding-bottom:20px;}
.vcardWrap .photoSec{display:none;}
.vcardWrap .descSec{padding-top:40px;}
.vcardWrap .descSec p{padding-top:10px;}
.vcardWrap .reviewSec{border-top:1px dashed #333;}
.vcardWrap .reviewSec article{padding:20px 0;border-bottom:1px dashed #ccc;}