/**
 * @author Hakim El Hattab
 */

/*********************************************
 * GLOBAL STYLES
 *********************************************/
html, body { padding: 0; margin: 0; overflow: hidden; font-family: 'Noto Sans Korean', sans-serif; font-size: 24px; background: #fff; color: #222; width: 100%; height: 100%; }
/*********************************************
 * SLIDES
 *********************************************/
#main { position: absolute; width: 800px; height: 700px; left: 50%; top: 50%; margin-left: -400px; margin-top: -370px; text-align: center; -webkit-perspective: 600px; -webkit-perspective-origin: 50% 25%; }
#main>section, #main>section>section { display: none; position: absolute; width: 100%; min-height: 600px; -webkit-transform-style: preserve-3d; -webkit-transition: all 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985); -moz-transition: all 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985); -o-transition: all 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985); transition: all 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985); }
#main section.past { display: table; opacity: 0; -webkit-transform: 	translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0); }
#main section.present { display: table; }
#main section.future { display: table; opacity: 0; -webkit-transform: 	translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0); }
#main section>section.past { display: block; opacity: 0; -webkit-transform: 	translate3d(0, -50%, 0) rotateX(70deg) translate3d(0, -50%, 0); }
#main section>section.future { display: block; opacity: 0; -webkit-transform: 	translate3d(0, 50%, 0) rotateX(-70deg) translate3d(0, 50%, 0); }

/*********************************************
 * DEFAULT ELEMENT STYLES
 *********************************************/

#main>section { line-height: 1.2em; text-shadow: 0px 0px 2px #fff, 0px 0px 4px #bbb; font-weight: 600; }
ol { list-style: decimal; list-style-position: inside; }
li, p { margin-bottom: 10px; }
li{list-style:none;}
ul{margin:0;padding:0;text-align:left;}
a:not(.image) { color: #1b6263; text-decoration: none; border-bottom: 1px dashed rgba(0,0,0,0.3); padding: 1px 3px; }
a:not(.image):hover { color: #fff; background: #2fa794; text-shadow: none; border: none; }
img { margin: 30px 0 0 0; background: rgba(255,255,255,0.12); border: 4px solid #eee; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); -webkit-transition: all .11s linear; -moz-transition: all .11s linear; -o-transition: all .11s linear; transition: all .11s linear; }
a.image:hover img { background: rgba(255,255,255,0.2); -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25); box-shadow: 0 0 20px rgba(0, 0, 0, 0.25); }

/*********************************************
 * SHEET STYLES
 *********************************************/
h1{font-size:30px;text-align:center;}
h2{font-size:36px;color:#000;text-align:center;}
section>article{display:table-cell;width:100%;height:700px;vertical-align:middle;color:#333;text-align:left;}
section>article>h2{padding-bottom:40px;}
section>article table{font-size:16px;}
section>article table td{text-align:left;}
.codepen{margin:0 auto;width:60%;}
.flex{display:flex;flex-wrap:wrap;}
.flex>li{width:50%;}
.flex-nowrap{display:flex;flex-wrap:nowrap;}
.flex-nowrap>li{flex:1;}
.point{color:#b81e38;}
.dark-gray{color:#000;}
.thumb{width:100%;}
.thumb>img{width:90%;height:auto;}
.thumb>span{display:inline-block;padding-top:15px;}
.childProperty{margin-top:20px;border-top:1px solid #ccc;}
.comment{font-size:0.75em;color:#666;}
code{color:#666;}


.spec{width:100%;padding-bottom:10px;}
.spec h2{font-size:28px;padding-bottom:10px;}
.spec .syntax{text-indent:-107px;padding-left:107px;}
.spec ul li{font-size:18px;}

.desc{padding-top:20px;border-top:1px dashed #666;font-size:16px;}
.desc h3{padding-top:0;margin-top:0;padding-bottom:5px;text-align:left;}
.examSite{padding-top:20px;}
.specFlex{display:flex;}
.specFlex .spec{flex:1;width:auto;padding:0 20px;}
.specFlex .spec:nth-child(2){border-left:1px dashed #ccc;}


/*! 커리큘럼 리스트 */
.curriculumList{display:flex;width:100%;flex-wrap:wrap;}
.curriculumList *{margin:0;padding:0;list-style:none;}
.curriculumList dl{box-sizing:border-box;padding:10px 0;width:48%;border-bottom:1px dashed #666;}
.curriculumList dl:nth-child(even){margin-left:4%;}
.curriculumList dt{font-size:20px;text-align:left;color:#000;}
.curriculumList dd{font-size:14px;color:#666;font-weight:500;}

/*! 예제보기, 브라우저보기 */
.btnSec{text-align:right;}
.btnSec .label{text-align:center;}
.btnSec .label a{color:#fff !important;font-weight:300;font-size:14px;border-bottom:0;text-shadow: none; border: none;}
.btnSec .label a:hover{background:transparent;}
